section.cours#cursuri
    .wrapper
        .center-text
            h2.complex_curs Alege complexitatea cursului
        .cours-content
            .cours-row
                img(src="./img/course1.jpeg")
                .course-text
                    h3 Pentru cei mici
                    .rating(data-card="0")
                        .star(data-rating="0")
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                        .course-review
                            p {5 Recenzii}
                    .btn__courses-level
                        a(href="01curs-copii.html")
                            button.btn__courses Afla mai multe
            .cours-row
                img(src="./img/course2.jpeg")
                .course-text
                    h3 Cine este incepator
                    .rating(data-card="1")
                        .star(data-rating="0")
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                        .course-review
                            p {5 Recenzii}
                    .btn__courses-level
                        a(href="03curs-abilitati.html")
                            button.btn__courses Afla mai multe
            .cours-row
                img(src="./img/course3.jpeg")
                .course-text
                    h3 Pentru a îmbunătăți abilitățile
                    .rating(data-card="1")
                        .star(data-rating="0")
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                        .course-review
                            p {5 Recenzii}
                    .btn__courses-level
                        a(href="03curs-abilitati.html")
                            button.btn__courses Afla mai multe
            .cours-row
                img(src="./img/course4.jpeg")
                .course-text
                    h3 Pentru profesionisti
                    .rating(data-card="2")
                        .star(data-rating="0")
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                        .review
                            p {5 Recenzii}
                    .btn__courses-level
                        a(href="04curs-profesionisti.html")
                            button.btn__courses Afla mai multe
            .cours-row
                img(src="./img/course5.jpeg")
                .course-text
                    h3 Care dispune de timp liber
                    .rating(data-card="3")
                        .star(data-rating="0")
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                        .course-review
                            p {5 Recenzii}
                    .btn__courses-level
                        a(href="05curs-timp-liber.html")
                            button.btn__courses Afla mai multe
            .cours-row
                img(src="./img/course6.jpeg")
                .course-text
                    h3 Cine are nevoie de ajutor
                    .rating
                        .star(data-rating="0")
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                            .course-star-icon
                        .course-review
                            p {5 Recenzii}
                    .btn__courses-level
                        a(href="06curs-ajutor.html")
                            button.btn__courses Afla mai multe
