.wrapper
    .heading#despre-noi
        h1.heading-title Despre noi
    .container
        section.about
            .about-img
                img(src="./img/book_img.png", alt="")
            .about-content
                p.about-us-desc Bine ați venit la școala noastră de arte plastice! Suntem un loc special unde oamenii tineri vin să învețe despre artă și să-și dezvolte talentele creative.
                p.about-us-desc La școala noastră, avem profesori care sunt artiști și educatori buni. Ei îi ajută pe elevi să învețe cum să picteze, să deseneze și să creeze lucrări artistice frumoase. Ne străduim să facem învățarea distractivă și interesantă pentru fiecare elev.
                p.about-us-desc Pe lângă orele de artă, avem și activități speciale și evenimente unde elevii pot să se distreze și să-și împărtășească pasiunea pentru artă cu alții. Ne place să lucrăm împreună ca o comunitate și să ne susținem unii pe alții în călătoria noastră artistică.
                p.about-us-desc Absolvenții noștri sunt foarte mândri de ceea ce au realizat și au avut succes în domeniul artei. Noi credem că fiecare persoană are un talent special și suntem aici să îi ajutăm să-l descopere și să-l dezvolte.
                p.about-us-desc Vă invităm să ne alăturați la școala noastră și să experimentați bucuria artei împreună cu noi!
