// footer start
footer.footer
    .footerContainer
        .socialIcons
            a(href="#")
                i.fa-brands.fa-facebook
            a(href="#")
                i.fa-brands.fa-instagram
            a(href="#")
                i.fa-brands.fa-twitter
            a(href="#")
                i.fa-brands.fa-google-plus
            a(href="#")
                i.fa-brands.fa-youtube
        .footerNav
            ul
                li: a(href="#") Home
                li: a(href="#") News
                li: a(href="#") About
                li: a(href="#") Contact us
                li: a(href="#") Our Team
    .footerBottom
        p CopyRight &copy;2024; Created by 
            span.designer Felicia Rusu - Anastasia Cozac
// footer end
