footer.footer
    .wrapper
        .footer__flex
            .footer_item
                a.footer_logo-link(href='/')
                    img.footer_logo-pic(src='./img/log.svg', alt='Discover Amazing places in Japan')
                    span.logo_title ArtSCHOOL
            .footer_item.flex
                h3.menu Linkuri utile
                p.footer__item Despre noi
                p.footer__item Termeni si Conditii
            .footer__menu
                h3.menu Menu
                ul.footer__menu-list
                    li.footer__item Acasa
                    li.footer__item Despre noi
                    li.footer__item Cursuri
                    li.footer__item Orar
                    li.footer__item Galerie
                    li.footer__item Contacte
            .footer__retele
                h3.menu Urmărește-ne pe rețelele de socializare:
                .retele__icon
                    img.retele__icon-pic(src='./img/facebook.svg', alt='facebook')
                    img.retele__icon-pic(src='./img/insta.svg', alt='instagram')
                    img.retele__icon-pic(src='./img/teleg.svg', alt='telegram')
        h3.privacy ©2024 - ArtSchool - Privacy
