section.galerie#galerie
    .wrapper
        h2.galerie__titlu
            | Galerie
        ul.galerie__list
            li.galerie__list-item
                img(src="./img/lucrare-1.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-2.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-3.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-4jpg.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-5.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-6.jpeg")
            li.galerie__list-item
                img(src="./img/lucrare-7.png")
            li.galerie__list-item
                img(src="./img/lucrare-8jpg.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-9.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-10.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-11.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-12.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-13.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-14.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-15.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-16.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-17.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-18.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-19.jpg")
            li.galerie__list-item
                img(src="./img/lucrare-20.jpg")
