section.intro
    .wrapper
        h1.intro_title Cursuri de desen online accesibile pentru toți
        p.intro_subtitle
            | Bine ați venit într-un spațiu în care creativitatea prosperă și fiecare lovitură de pensulă spune o poveste. Pornește împreună cu noi într-o călătorie artistică îmbogățitoare.
        form.search-form
            fieldset.search-form_wrap
                p.search-form_info
                    input(type='text', name='user-like-to-do', class='search-form_field', placeholder='What would you like to do?')
                    button(type='submit', class='search-form_submit') Sign in
        img.intro__pic(src='./img/paint-1.png', alt='')