.intro
    .wrapper
        .row
            .imgWrapper
                img(src="./img/vecteezy_left-and-right-hand-pink-handprints-paint-stains-abstract_37744244.png", alt="logo image")
            .contentWrapper
                .content
                    h1 Cursuri de desen online accesibile pentru toți
                    p Bine ați venit într-un spațiu în care creativitatea prosperă și fiecare lovitură de pensulă spune o poveste. Pornește împreună cu noi într-o călătorie artistică îmbogățitoare.
                    p Inca nu faci parte din echipa noastra? Hai cu noi in lumea culorilor
                    a(href="/formular") Inscriete la curs
