header
    .container
        nav.navbar
            a.nav-branding(href="/") ArtSchool
            ul.nav-menu
                li.nav-item
                    a.nav-link(href="#despre-noi") Despre noi
                li.nav-item
                    a.nav-link(href="#cursuri") Cursuri
                li.nav-item
                    a.nav-link(href="#orar-tabel") Orar
                li.nav-item
                    a.nav-link(href="galerie.html") Galerie
                li.nav-item
                    a.nav-link(href="login.html") Logare
            .hamburger
                span.bar
                span.bar
                span.bar
