doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/admin.css')
  body
    header.header
      include components/navbar.pug 
    block content
  script(src="/js/bootstrap.bundle.js")