.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    /* border: 2px solid black; */
    /* height: 500px; */
}

.login_wrapper {
    width: 400px;
    height: 450px;
    border: 2px solid #3E51FF;
    border-radius: 10px;
    background-color: white;
}

.login {
    height: 100vh;
    background: url("../img/login-bg.png"), no-repeat center;
    background-size: cover;
    /* padding-top: 160px; */
    /* border: 10px solid rgb(255, 0, 0); */
    /* margin-top: 150px; */
    display: flex;
    align-items: center;
}

.login__header {
    /* border: 1px solid black; */
    background-color: #3E51FF;
    margin-bottom: 25px;
    padding: 25px;
}

.login__title {
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: white;
}

.form_login {
    /* border: 2px solid rgb(255, 33, 33); */
    margin-right: 156px;
}

.label_login {
    display: flex;
    /* background-color: pink; */
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 32px;
}

.login_data {
    width: 320px;
    height: 35px;
    border-radius: 9px;
}

.btnn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn {
    width: 350px;
    height: 35px;
    margin-top: 15px;
    background-color: #3E51FF;
    color: white;
    border: 1px solid #3E51FF;
    font-size: 20px;
    font-weight: 400;
}

.login_btn:hover {
    border: 1px solid #B87333;
    background-color: #B87333;
}