extends ../app

block content
  .container.py-3
    h3 Lista cursurilor
    - if (courses.length > 0)
      each curs in courses
        - if (curs.email === user.email)
          .curs.py-3
            h4 #{curs.studyLevel}
            .list-group
              - var coursesArray = JSON.parse(curs.courses)
              each course in coursesArray
                li.list-group-item.text-capitalize #{course}
    - else
      p Nu există cursuri disponibile.




