extends ../guest

block content
    main.main
        section.login
            .wrapper
                .login_wrapper
                    .login__header
                        h3.login__title Creaza profil
                    form.form_login#form_register.m-3(action="/register", method="POST")
                        label.label_login(for="name") Nume
                        input(type="text", id="first", name="name", required, class="login_data label_login form-control")
                        label.label_login(for="second") Adresa de email
                        input(type="email", id="email", name="email", required, class="login_data label_login form-control")
                        label.label_login.label_login-password(for="password") Parola
                        input(type="password", id="password", name="password", required, class="login_data label_login form-control")
                        .btnn
                            button.login_btn(type="submit") Inregistreaza-te
    script(src="js/register.js")